.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0px;
    background-color: #f6e7cb;
  padding-bottom: 10px;
  z-index: 99;
}
li {
  display: inline;
  margin-left: 30px;
  float: left;
  margin-left: 8%;
  margin-top: 1%;
  font-size: 140%;
}
li a{
    color: black;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
img {
    background-color: black;
    height: 40px;
    
}