@import '~antd/dist/antd.css';

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }
  #imgBox{
    border: 1px ridge #adb5bd;
    width: 98%;
    height: 250px;
    margin-left: 1%;
    margin-top: 6%;
    
}
.sider{
  background-color:#023047;
}

.menu{
  background-color:#023047;

}
.menu a{
  color: beige  ;
  font-size: 135%;
  font-weight: 600;
}
.menu a:hover{
  color: #fb8500;
}
.menu a:active{
  color:#141414
}





















/* 

.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0px;
    background-color: #f6e7cb !important;
  padding-bottom: 10px;
  z-index: 99;
  
}
li {
  display: inline;
 background-color: #f6e7cb !important;
  float: left;
  margin-left: 7%;
  margin-top: 1%;
  font-size: 140%;
}
li a{
    color: black;
    font-weight: 600;
    background-color: #f6e7cb !important;
    font-family: 'Times New Roman', Times, serif;
}
#logo {
    background-color: black;
    height: 40px;
    
}
#imgBox{
    border: 1px ridge #adb5bd;
    width: 98%;
    height: 250px;
    margin-left: 1%;
    margin-top: 6%;
    
}

.ann{
    display:inline-block;
     border: 1px ridge #adb5bd;
    width: 46%;
    margin-top: 1%;
    padding-left: 2%;
}
#sem2{
    float: right;
    margin-right: 1%;
    
}
#sem4{
    float: left;
    margin-left: 1%;
    padding-left: 2%;
} */